// accent colors
$color-accent: #fff;
$color-accent-reverse: #0e123f;
$color-accent-dark: #000;

$color-accent-rgb: 0, 185, 255; //#00B9FF;
$color-accent-dark-rgb: 5, 20, 75; //#05144B;

// light
$color-light: #fff;
$color-gray: #9fa0a2;
$color-light-gray: #eaeaea;
