@font-face {
    font-family: 'Codec Pro';
    src: url('/fonts/CodecPro/CodecPro-Light.woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Codec Pro';
    src: url('/fonts/CodecPro/CodecPro-Bold.woff2');
    font-weight: 600;
}
/*
@font-face {
    font-family: "Codec Pro";
    src: url("../../../fonts/CodecPro/CodecPro-ExtraBold.woff2");
    font-weight: 700;
}
*/
